html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    cursor: url(cursor.png)16 16,auto;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #bbbab7 0%, #e5e8e9 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.65);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    z-index: 2;
    pointer-events: none;
}
.card *
{
    transition: scale 300ms, filter 300ms;

}

.deck.card:hover
    {
        transform: scale(1.1);
        filter: blur(50px);
    }


.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(73, 68, 46, 0.65);
    pointer-events: auto;
}
.card.hint
{
    font-size: 25px;
    color: #ffffff;
    animation: hint 1s linear;
}

i.hint
{
    font-size: 25px;
    color: #ffffff;
    animation: hint 1s infinite;
}

 @keyframes hint {

    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
    
 }

.deck .card.open {
    transform: rotateY(180deg);
    transition: 0.3s;
    background: #2f91f9;
    pointer-events: none;
}
.card.open {
    transform: rotateY(180deg);
    transition: 0.3s;
    background: #2f91f9;
    pointer-events: none;
    font-size: 33px;

}

.card.blur {
  
    animation: animate 2s infinite;
    box-shadow: inset 2px 1px 14px 8px rgba(0,0,0,0.75);
}

@keyframes animate {
    0% {
        box-shadow: inset 2px 1px 14px 8px rgba(0,0,0,0.75);
    }
    50% {
        box-shadow: inset 2px 1px 14px 8px rgba(0,0,0,0.45);
    }
    100%
    {
        box-shadow: inset 2px 1px 14px 8px rgba(0,0,0,0.75);
    }
  
}

.deck .card.close {
	transform: rotateY(360deg);
	transition: 0.2s;
	transform-style: preserve-3d;
	background: #2e3d49;
    font-size: 0px;

}

.deck .card.match {
    background: linear-gradient(160deg, #bbbab7 0%, #e5e8e9 100%);
    color: #2e3d49;
    font-size: 33px;
    box-shadow: inset 2px 1px 14px 8px rgba(0,0,0,0.45);

}

.card.match:hover {

    border-radius: 0%;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    z-index: 2;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: #3572a8;
}

.score-panel .restart {
}

.score-panel #timer {
	display: inline-block;
	text-align: center;
	color: white;
	margin-left: 40px;
	border-radius: 5px;
	width: 90px;
	height: 27px;
	background-color: #3572a8;
}

.restart button {
	border-radius: 5px;
}

.button-simple {
    background-color: #4CAF50;  
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}

.button-simple:hover {
    background-color: #45a049;
}


.winPage {
  z-index: 1000;
  top: 35%;
  left: 50%;
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 370px;
  opacity: 1;
  transition: 1s;
  animation-name: animatetop;
  animation-duration: 0.25s;
  animation-timing-function: linear;
}

.winPage.closed {
	display: none;
	z-index: 1;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}